@model IEnumerable<NutriGuide.Models.Nutri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContLayout.cshtml";
}

@section left_menu {
    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-box">
            <h4>Chỉ số BMI</h4>
            <div class="services-list">
                <a href="~/Bmis/BmiCheck" class="active"><i class="bi bi-arrow-right-circle"></i><span>Đo chỉ số BMI</span></a>
                <a href="~/Bmis/Index"><i class="bi bi-arrow-right-circle"></i><span>Bảng chỉ số BMI</span></a>
                <a href="#congthuc"><i class="bi bi-arrow-right-circle"></i><span>Công thức tính chỉ số BMI</span></a>
                <a href="#phanloai"><i class="bi bi-arrow-right-circle"></i><span>Phân loại mức độ gầy béo</span></a>
                <a href="#vongeo"><i class="bi bi-arrow-right-circle"></i><span>Tỉ lệ vòng eo/mông</span></a>

            </div>
        </div><!-- End Services List -->

        <div class="service-box">
            <h4>Tài liệu tham khảo</h4>
            <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Định dạng PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Định dạng DOC</span></a>
            </div>
        </div><!-- End Services List -->

        <div class="help-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-headset help-icon"></i>
            <h4>Câu hỏi trực tiếp?</h4>
            <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+084 905 223 344</span></p>
            <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:info@nutriguide.com">info@nutriguide.com</a></p>
        </div>
    </div>
}
@section heading {
    <h3>Triệu chứng thiếu dinh dưỡng</h3>
}

@section page {
    <span>Triệu chứng thiếu dinh dưỡng</span>
}

<table class="table display" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nutrient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food2Eat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount2Eat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nutrient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food2Eat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount2Eat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}