@model IEnumerable<NutriGuide.Models.HealthRecord>

@{
    ViewData["Title"] = "Index"; Layout = "_ContLayout";
}

<h1>Quản lý chỉ số đường huyết và huyết áp</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table dataTable" id="HealthRecords">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRecorded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodSugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystolicPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiastolicPressure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecorded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodSugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystolicPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiastolicPressure)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        const dataTable = new simpleDatatables.DataTable("#HealthRecords", {
            perPageSelect: [5, 10, 15, ["All", -1]],
            searchable: true,
            fixedHeight: true,

        });
    </script>
}